:root {
    --primary-color-dviolet: hsl(256, 26%, 20%);
    --primary-color-gblue: hsl(216, 30%, 68%);
    --neutral-color-vdviolet: hsl(270, 9%, 17%);
    --neutral-color-gviolet: hsl(273, 4%, 51%);
    --neutral-color-vlgray: hsl(0, 0%, 98%);
}
@font-face{
    font-family: 'DM Serif Display';
    src: url('/DM_Serif_Display/DMSerifDisplay-Italic.ttf') format('truetype');
    src: url('/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Karla';
    src: url('/Karla/Karla-Bold.ttf') format('truetype');
    src: url('/Karla/Karla-Regular.ttf') format('truetype');
    font-weight: 400, 700;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
h1, h2{
    font-family: 'DM Serif Display';
    font-size: 5em;
    padding: 0;
}
h3, h4{
    font-family: 'DM Serif Display';
    padding: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}
html{
    scroll-behavior: smooth;
}
/* NAVBAR */
body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Karla';
    font-size: 16px;
}
.container{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--neutral-color-gviolet);
    font-weight: 900;
    letter-spacing: 2px;
}
.nav-link:hover{
    color: var(--neutral-color-vdviolet);
}
.nav-link.nav-plans{
    color: var(--neutral-color-vdviolet);
    border: 2px solid var(--neutral-color-vdviolet);
    padding: 15px 40px;
}
.nav-link.nav-plans:hover{
    color: var(--neutral-color-vlgray);
    background-color: var(--neutral-color-vdviolet);
}
/* HEADER HOW WE WORK */
#how-we-work{
    background-color: var(--primary-color-dviolet);
    color: var(--neutral-color-vlgray);
    padding: 80px 0;
    position: relative;
    margin-bottom: 300px;
}
#how-we-work > div{
    display: flex;
    flex: 1;
}
.nav-link.nav-plans-light{
    color: var(--neutral-color-vlgray);
    border: 2px solid var(--neutral-color-vlgray);
    padding: 15px 40px;
    z-index: 999;
    position: relative;
}
.nav-link.nav-plans-light:hover{
    color: var(--primary-color-dviolet);
    background-color: var(--neutral-color-vlgray);
}
#border{
    content: "";
    width: 200px;
    max-width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}
h1{
    margin-bottom: 0;
}
#how-we-work p{
    margin-bottom: 60px;
    padding-right: 30px;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: justify;
}

#how-we-work::after{
    content: '';
    position: absolute;
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#how-we-work::before{
    content: '';
    position: absolute;
    background-image: url('./images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    bottom: -46%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}
#how-we-work img{
    margin-bottom: -200px;
}
/* SECTION WE'RE DIFFERENT */
h2::before{
    content: '';
    width: 190px;
    height: 2px;
    background-color: var(--neutral-color-gviolet);
    position: absolute;
    top: 0;
}
h2{
    padding:60px 0
}
.different{
    display: flex;
    padding: 0px
}
.different p{
    text-justify: justify;
    line-height: 24px;
    padding-right: 10px;
    font-weight: 500;
    color: var(--neutral-color-gviolet);
    letter-spacing: 1px;
}
#we-different{
    margin-bottom: 200px;
}
/* BANNER SECTION */
.container.banner{
    background-color: var(--primary-color-dviolet);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
}
.container.banner h3{
    font-size: 4em;
    color: var(--neutral-color-vlgray);
}
.container.banner::after{
    content: '';
    position: absolute;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}